*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div
{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 3px solid blanchedalmond;
    box-shadow: 2px 2px 25px black;
    background-image: linear-gradient(to top,
    
    #667eea 0%, #4ba293 100%)
}
