<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="connection.css">
</head>
<body>
    <article>
        <form >
            <h1>Connexion</h1>

                <div>
                    <label for="email">EMAIL:</label><br>
                    <input type="email" name="" id="email" placeholder="Ex: mail@exemple.com"><br>

                </div>
                <div>
                    <label for="Prenom">MOT DE PASSE :</label><br>
                    <input type="password" name="" id="password" placeholder="Ex : &demo#"><br>    
                </div>
                <input type="submit" name="" id="submit" value="Connexion">
        </form>
    </article>
    <script src="connection.js"></script>
</body>
</html>