<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="inscription.css">
</head>
<body>
    <article>
        <form >
            <h1>Formulaire</h1>
                <div>   
                    <label for="Nom">NOM:</label><br>
                    <input type="text" name="" id="Nom" placeholder="EX: Diara"> <br>    
                </div>
                
                <div>
                    <label for="Prenom">PRENOM:</label><br>
                    <input type="text" name="" id="Prenom" placeholder="EX : Madou"><br>
        
                </div>
                <div>
                    <label for="age">AGE:</label><br>
                    <input type="text" name="" id="age" placeholder="EX : 18ans"><br>    
                </div>
                <div>
                    <label for="Contact">CONTACT:</label><br>
                    <input type="tel" name="" id="Contact" placeholder="Ex:12345678"><br>
        
                </div>
    
                <div>
                    <label for="email">EMAIL:</label><br>
                    <input type="email" name="" id="email" placeholder="Ex: mail@exemple.com"><br>
                </div>
                <div>
                    <label for="Prenom">MOT DE PASSE :</label><br>
                    <input type="password" name="" id="password" placeholder="Ex : &demo#"><br>    
                </div>
                <input type="submit" name="" id="" value="Inscription">
                
                <button id="button"><a href="/connexion"></a></button>
    
        </form>
    </article>
    <script src="inscription.js"></script>
</body>
</html>