 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
}
header
{
    width: 100%;
    height: 100vh;
    background-color: #800080;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
/*, #unique1, #unique2, #unique3, #unique4, #unique5,#unique7,#unique8,#unique9,#unique10,#unique11*/

#unique
{
    width: 300px;
    height: 1800px;
    overflow: hidden;
    width: 300px;
    height: 210px;
    border-radius: 10px;
    transition: transform 200ms ease;
}
/*, #mage1, #mage2, #mage3, #mage4, #mage5,#mage7,#mage8,#mage9,#mage10,#mage11 */
#unique:hover img
{
    transform: scale(1.5);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}